body {
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.5);
}

.cell {
    border: 0.2px solid grey;
    width: 12px;
    height: 12px;
}

.cell:hover {
    background-color: white;
}

.alive {
    background-color: white;
}

.content {
    display: flex;
    text-align: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.title {
    text-align: center;
    padding: 50px;
    color: white;
    font-size: x-large;
    font-family: 'Press Start 2P';
}

.title p {
    margin: 0;
    text-shadow: 10px 10px 8px black;
}